Repository ProvableHQ/snarkVM, pull requests merged in 2021-07, with the labels that each got.

#249 Update Merkle path convention
  algorithms/src/merkle_tree/merkle_path.rs
  algorithms/src/merkle_tree/merkle_tree.rs
  gadgets/src/algorithms/merkle_tree/merkle_path.rs
  gadgets/src/algorithms/merkle_tree/tests.rs
Labels: breaking-testnet1

#261 Refactors `SystemParameters` into `Components` for DPC
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  dpc/src/errors/program.rs
  dpc/src/testnet1/inner_circuit/inner_circuit.rs
  dpc/src/testnet1/inner_circuit/inner_circuit_gadget.rs
  dpc/src/testnet1/inner_circuit/inner_circuit_verifier_input.rs
  dpc/src/testnet1/instantiated.rs
  dpc/src/testnet1/mod.rs
  dpc/src/testnet1/outer_circuit/outer_circuit.rs
  dpc/src/testnet1/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet1/outer_circuit/outer_circuit_verifier_input.rs
  dpc/src/testnet1/parameters.rs
  dpc/src/testnet1/program/noop_program.rs
  dpc/src/testnet1/program/noop_program_circuit.rs
  dpc/src/testnet1/program/program.rs
  dpc/src/testnet1/record/encrypted.rs
  dpc/src/testnet1/record/record.rs
  dpc/src/testnet1/record/tests.rs
  dpc/src/testnet1/transaction/kernel.rs
  dpc/src/testnet1/transaction/transaction.rs
  dpc/src/testnet2/inner_circuit/inner_circuit.rs
  dpc/src/testnet2/inner_circuit/inner_circuit_gadget.rs
  dpc/src/testnet2/inner_circuit/inner_circuit_verifier_input.rs
  dpc/src/testnet2/instantiated.rs
  dpc/src/testnet2/mod.rs
  dpc/src/testnet2/outer_circuit/outer_circuit.rs
  dpc/src/testnet2/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet2/outer_circuit/outer_circuit_verifier_input.rs
  dpc/src/testnet2/parameters.rs
  dpc/src/testnet2/program/noop_program.rs
  dpc/src/testnet2/program/noop_program_circuit.rs
  dpc/src/testnet2/program/program.rs
  dpc/src/testnet2/record/encrypted.rs
  dpc/src/testnet2/record/record.rs
  dpc/src/testnet2/record/tests.rs
  dpc/src/testnet2/transaction/kernel.rs
  dpc/src/testnet2/transaction/transaction.rs
  dpc/src/traits/dpc_components.rs
  dpc/src/traits/program.rs
  parameters/examples/inner_snark.rs
  parameters/examples/noop_program_snark.rs
  parameters/examples/outer_snark.rs
  parameters/examples/program_vk_crh.rs
  parameters/examples/testnet2_inner_snark.rs
  parameters/examples/testnet2_noop_program_snark.rs
  parameters/examples/testnet2_outer_snark.rs
  parameters/examples/testnet2_program_vk_crh.rs
  parameters/scripts/parameters_setup.sh
  parameters/src/global/mod.rs
  parameters/src/global/program_vk_crh.checksum
  parameters/src/global/program_vk_crh.params
  parameters/src/global/testnet2_program_vk_crh.checksum
Labels: breaking-testnet1

#265 Deletes deprecated `LedgerMerkleTree*` parameter file and moves traits from `Testnet*Components` into `DPCComponents`
  .integration/src/testnet1.rs
  .integration/src/testnet2.rs
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  algorithms/src/merkle_tree/mod.rs
  algorithms/src/traits/merkle_tree.rs
  dpc/src/testnet1/inner_circuit/inner_circuit.rs
  dpc/src/testnet1/inner_circuit/inner_circuit_gadget.rs
  dpc/src/testnet1/inner_circuit/inner_circuit_verifier_input.rs
  dpc/src/testnet1/instantiated.rs
  dpc/src/testnet1/mod.rs
  dpc/src/testnet1/outer_circuit/outer_circuit.rs
  dpc/src/testnet1/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet1/outer_circuit/outer_circuit_verifier_input.rs
  dpc/src/testnet1/transaction/transaction.rs
  dpc/src/testnet2/inner_circuit/inner_circuit.rs
  dpc/src/testnet2/inner_circuit/inner_circuit_gadget.rs
  dpc/src/testnet2/inner_circuit/inner_circuit_verifier_input.rs
  dpc/src/testnet2/instantiated.rs
  dpc/src/testnet2/mod.rs
  dpc/src/testnet2/outer_circuit/outer_circuit.rs
  dpc/src/testnet2/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet2/outer_circuit/outer_circuit_verifier_input.rs
  dpc/src/testnet2/transaction/transaction.rs
  dpc/src/traits/dpc_components.rs
  parameters/examples/inner_snark.rs
  parameters/examples/ledger_merkle_tree.rs
  parameters/examples/outer_snark.rs
  parameters/examples/testnet2_inner_snark.rs
  parameters/examples/testnet2_outer_snark.rs
  parameters/scripts/parameters_setup.sh
  parameters/src/global/ledger_merkle_tree.checksum
  parameters/src/global/ledger_merkle_tree.params
  parameters/src/global/mod.rs
  parameters/src/lib.rs
Labels: breaking-testnet1

#278 Remove circuit from the SNARK trait implementations
  .github/workflows/ci.yml
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  Cargo.lock
  algorithms/benches/signature/schnorr.rs
  algorithms/benches/snark/gm17.rs
  algorithms/examples/snark/gm17.rs
  algorithms/src/snark/gm17/snark.rs
  algorithms/src/snark/gm17/tests.rs
  algorithms/src/snark/groth16/snark.rs
  algorithms/src/traits/snark.rs
  dpc/src/testnet1/dpc.rs
  dpc/src/testnet1/mod.rs
  dpc/src/testnet1/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet1/program/noop_program.rs
  dpc/src/testnet2/dpc.rs
  dpc/src/testnet2/mod.rs
  dpc/src/testnet2/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet2/parameters.rs
  dpc/src/testnet2/program/noop_program.rs
  dpc/src/traits/dpc_components.rs
  gadgets/src/algorithms/snark/gm17.rs
  gadgets/src/algorithms/snark/groth16.rs
  gadgets/src/algorithms/snark/tests.rs
  gadgets/src/traits/algorithms/snark.rs
  marlin/benches/marlin.rs
  marlin/src/constraints/ahp.rs
  marlin/src/constraints/snark.rs
  marlin/src/constraints/verifier.rs
  marlin/src/constraints/verifier_key/circuit_verifier_key.rs
  marlin/src/constraints/verifier_key/prepared_circuit_verifier_key.rs
  marlin/src/marlin/marlin.rs
  marlin/src/marlin/tests.rs
  marlin/src/snark.rs
  parameters/examples/inner_snark.rs
  parameters/examples/outer_snark.rs
  parameters/examples/posw_snark.rs
  parameters/examples/testnet2_inner_snark.rs
  parameters/examples/testnet2_outer_snark.rs
  posw/benches/posw.rs
  posw/src/lib.rs
  posw/src/posw.rs
  posw/tests/mod.rs
Labels: breaking-testnet1

#286 Use Poseidon for Program/Inner Circuit ID in the field-element way
  .integration/tests/dpc_testnet1.rs
  dpc/src/testnet1/dpc.rs
  dpc/src/testnet1/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet1/program/noop_program.rs
  dpc/src/testnet2/outer_circuit/outer_circuit_gadget.rs
Labels: breaking-testnet1

#279 Implements BHP commitments, switches all Pedersen commitments to BHP, updates testnet1 program SNARK to Groth16 and ID CRHs to Poseidon
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  algorithms/Cargo.toml
  algorithms/benches/crh/bhp.rs
  algorithms/benches/crh/pedersen.rs
  algorithms/src/commitment/bhp.rs
  algorithms/src/commitment/bhp_compressed.rs
  algorithms/src/commitment/mod.rs
  algorithms/src/commitment/tests.rs
  algorithms/src/commitment_tree/tests.rs
  algorithms/src/crh/bhp.rs
  algorithms/src/crh/bhp_compressed.rs
  algorithms/src/crh/mod.rs
  algorithms/src/crh/tests.rs
  dpc/src/testnet1/dpc.rs
  dpc/src/testnet1/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet1/parameters.rs
  dpc/src/testnet1/program/noop_program.rs
  dpc/src/testnet2/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet2/parameters.rs
  gadgets/src/algorithms/commitment/bhp.rs
  gadgets/src/algorithms/commitment/bhp_compressed.rs
  gadgets/src/algorithms/commitment/mod.rs
  gadgets/src/algorithms/commitment/tests.rs
  gadgets/src/algorithms/commitment_tree/tests.rs
  gadgets/src/algorithms/crh/bhp.rs
  gadgets/src/algorithms/crh/bhp_compressed.rs
  gadgets/src/algorithms/crh/mod.rs
  gadgets/src/algorithms/crh/tests.rs
  gadgets/src/algorithms/merkle_tree/tests.rs
  parameters/src/testnet1/inner_snark_pk.checksum
  parameters/src/testnet1/inner_snark_vk.checksum
  parameters/src/testnet1/inner_snark_vk.params
  parameters/src/testnet1/mod.rs
  parameters/src/testnet1/noop_program_snark_pk.checksum
  parameters/src/testnet1/noop_program_snark_pk.params
  parameters/src/testnet1/noop_program_snark_vk.checksum
  parameters/src/testnet1/noop_program_snark_vk.params
  parameters/src/testnet1/outer_snark_pk.checksum
  parameters/src/testnet1/outer_snark_vk.checksum
  parameters/src/testnet1/outer_snark_vk.params
  parameters/src/testnet1/posw_snark_pk.checksum
  parameters/src/testnet1/posw_snark_vk.checksum
  parameters/src/testnet1/posw_snark_vk.params
  parameters/src/testnet2/inner_snark_pk.checksum
  parameters/src/testnet2/inner_snark_vk.checksum
  parameters/src/testnet2/inner_snark_vk.params
  parameters/src/testnet2/mod.rs
  parameters/src/testnet2/noop_program_snark_pk.checksum
  parameters/src/testnet2/noop_program_snark_pk.params
  parameters/src/testnet2/noop_program_snark_vk.checksum
  parameters/src/testnet2/noop_program_snark_vk.params
  parameters/src/testnet2/outer_snark_pk.checksum
  parameters/src/testnet2/outer_snark_vk.checksum
  parameters/src/testnet2/outer_snark_vk.params
  parameters/src/testnet2/posw_snark_pk.checksum
  parameters/src/testnet2/posw_snark_vk.checksum
  parameters/src/testnet2/posw_snark_vk.params
  parameters/src/testnet2/universal_srs.checksum
Labels: breaking-testnet1

#287 Reduce the number of allocations used to deserialize snark proofs
  algorithms/src/snark/gm17/mod.rs
  algorithms/src/snark/groth16/mod.rs
Labels: enhancement

#288 Increase record payload size from 32 bytes to 128 bytes
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  dpc/src/circuits/inner_circuit.rs
  dpc/src/record/encoded.rs
  dpc/src/record/encrypted.rs
  dpc/src/record/payload.rs
  dpc/src/record/record.rs
  dpc/src/record/tests.rs
  dpc/src/testnet1/parameters.rs
  dpc/src/testnet2/parameters.rs
  parameters/src/testnet1/inner_snark_pk.checksum
  parameters/src/testnet1/inner_snark_vk.checksum
  parameters/src/testnet1/inner_snark_vk.params
  parameters/src/testnet1/mod.rs
  parameters/src/testnet2/inner_snark_pk.checksum
  parameters/src/testnet2/inner_snark_vk.checksum
  parameters/src/testnet2/inner_snark_vk.params
  parameters/src/testnet2/mod.rs
Labels: breaking-testnet1

#293 Add ECIES Poseidon encryption
  algorithms/src/encryption/ecies_poseidon.rs
  algorithms/src/encryption/group.rs
  algorithms/src/encryption/mod.rs
  algorithms/src/encryption/tests.rs
  algorithms/src/traits/encryption.rs
  dpc/src/circuits/inner_circuit_gadget.rs
  dpc/src/record/encrypted.rs
  gadgets/src/algorithms/encryption/ecies_poseidon.rs
  gadgets/src/algorithms/encryption/group.rs
  gadgets/src/algorithms/encryption/mod.rs
  gadgets/src/algorithms/encryption/tests.rs
  gadgets/src/bits/to_bytes.rs
  gadgets/src/traits/algorithms/encryption.rs
  gadgets/src/traits/alloc.rs
  gadgets/src/traits/eq.rs
Labels: breaking-testnet1

#297 Removes `serial_number_nonce_randomness` from `DPC` execution model
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  dpc/src/circuits/inner_circuit.rs
  dpc/src/circuits/inner_circuit_gadget.rs
  dpc/src/record/record.rs
  dpc/src/testnet1/dpc.rs
  dpc/src/testnet2/dpc.rs
  dpc/src/traits/record.rs
  dpc/src/transaction/kernel.rs
  parameters/src/testnet1/inner_snark_pk.checksum
  parameters/src/testnet1/inner_snark_vk.checksum
  parameters/src/testnet1/inner_snark_vk.params
  parameters/src/testnet1/mod.rs
  parameters/src/testnet2/inner_snark_pk.checksum
  parameters/src/testnet2/inner_snark_vk.checksum
  parameters/src/testnet2/inner_snark_vk.params
  parameters/src/testnet2/mod.rs
Labels: breaking-testnet1

#299 Use `alloc_constant` for parameters for crypto primitives
  dpc/src/circuits/inner_circuit_gadget.rs
  dpc/src/circuits/inner_circuit_verifier_input.rs
  dpc/src/circuits/outer_circuit_verifier_input.rs
  dpc/src/testnet1/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet1/program/noop_program_circuit.rs
  dpc/src/testnet2/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet2/program/noop_program_circuit.rs
  gadgets/src/algorithms/commitment/bhp.rs
  gadgets/src/algorithms/commitment/bhp_compressed.rs
  gadgets/src/algorithms/commitment/blake2s.rs
  gadgets/src/algorithms/commitment/pedersen.rs
  gadgets/src/algorithms/commitment/pedersen_compressed.rs
  gadgets/src/algorithms/commitment/tests.rs
  gadgets/src/algorithms/commitment_tree/tests.rs
  gadgets/src/algorithms/crh/bhp.rs
  gadgets/src/algorithms/crh/bhp_compressed.rs
  gadgets/src/algorithms/crh/pedersen.rs
  gadgets/src/algorithms/crh/pedersen_compressed.rs
  gadgets/src/algorithms/crh/tests.rs
  gadgets/src/algorithms/crypto_hash/poseidon.rs
  gadgets/src/algorithms/encryption/ecies_poseidon.rs
  gadgets/src/algorithms/encryption/group.rs
  gadgets/src/algorithms/encryption/tests.rs
  gadgets/src/algorithms/merkle_tree/tests.rs
  gadgets/src/algorithms/signature/schnorr.rs
  gadgets/src/algorithms/signature/tests.rs
  posw/src/circuit.rs
Labels: breaking-testnet1

#301 Unify the OuterCircuit in DPC
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  algorithms/benches/snark/gm17.rs
  algorithms/src/encryption/tests.rs
  algorithms/src/snark/gm17/snark.rs
  algorithms/src/snark/groth16/snark.rs
  algorithms/src/traits/snark.rs
  dpc/benches/noop_program.rs
  dpc/src/circuits/inner_circuit_verifier_input.rs
  dpc/src/circuits/mod.rs
  dpc/src/circuits/outer_circuit.rs
  dpc/src/circuits/outer_circuit_gadget.rs
  dpc/src/circuits/outer_circuit_verifier_input.rs
  dpc/src/program/noop_program.rs
  dpc/src/testnet1/dpc.rs
  dpc/src/testnet1/mod.rs
  dpc/src/testnet1/parameters.rs
  dpc/src/testnet2/dpc.rs
  dpc/src/testnet2/mod.rs
  dpc/src/testnet2/outer_circuit/mod.rs
  dpc/src/testnet2/outer_circuit/outer_circuit.rs
  dpc/src/testnet2/outer_circuit/outer_circuit_gadget.rs
  dpc/src/testnet2/parameters.rs
  dpc/src/traits/parameters.rs
  fields/src/fp12_2over3over2.rs
  fields/src/fp2.rs
  fields/src/fp3.rs
  fields/src/fp6_2over3.rs
  fields/src/fp6_3over2.rs
  fields/src/fp_256.rs
  fields/src/fp_384.rs
  fields/src/fp_768.rs
  fields/src/to_field_vec.rs
  fields/src/traits/field.rs
  gadgets/src/algorithms/snark/gm17.rs
  gadgets/src/algorithms/snark/groth16.rs
  gadgets/src/algorithms/snark/tests.rs
  gadgets/src/bits/boolean_input.rs
  gadgets/src/nonnative/nonnative_field_input_var.rs
  gadgets/src/traits/algorithms/snark.rs
  gadgets/src/traits/misc.rs
  gadgets/src/traits/mod.rs
  marlin/benches/marlin.rs
  marlin/src/constraints/snark.rs
  marlin/src/constraints/verifier.rs
  marlin/src/parameters.rs
  marlin/src/snark.rs
  parameters/examples/inner_snark.rs
  parameters/examples/noop_program_snark.rs
  parameters/examples/outer_snark.rs
  parameters/examples/testnet2_inner_snark.rs
  parameters/examples/testnet2_noop_program_snark.rs
  parameters/examples/testnet2_outer_snark.rs
  posw/benches/posw.rs
  posw/src/posw.rs
Labels: breaking-testnet1

#309 fix(Transactions::conflict): Removes unique memos requirement
  dpc/src/block/transactions.rs
Labels: breaking-testnet1

#310 Fixes output record position in inner circuit gadget
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  dpc/src/circuits/inner_circuit_gadget.rs
  parameters/src/testnet1/inner_snark_pk.checksum
  parameters/src/testnet1/inner_snark_vk.checksum
  parameters/src/testnet1/inner_snark_vk.params
  parameters/src/testnet2/inner_snark_pk.checksum
  parameters/src/testnet2/inner_snark_vk.checksum
  parameters/src/testnet2/inner_snark_vk.params
Labels: breaking-testnet1

#311 Replace Group Encryption with ECIES Poseidon
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  algorithms/src/encryption/ecies_poseidon.rs
  dpc/src/circuits/inner_circuit.rs
  dpc/src/circuits/inner_circuit_gadget.rs
  dpc/src/circuits/outer_circuit.rs
  dpc/src/program/execution.rs
  dpc/src/record/encoded.rs
  dpc/src/record/encrypted.rs
  dpc/src/record/tests.rs
  dpc/src/testnet1/dpc.rs
  dpc/src/testnet1/parameters.rs
  dpc/src/testnet2/dpc.rs
  dpc/src/testnet2/parameters.rs
  dpc/src/traits/encoded.rs
  dpc/src/traits/parameters.rs
  dpc/src/transaction/transaction.rs
  gadgets/src/algorithms/commitment/bhp.rs
  gadgets/src/algorithms/commitment/blake2s.rs
  gadgets/src/algorithms/commitment/pedersen.rs
  gadgets/src/algorithms/encryption/ecies_poseidon.rs
  gadgets/src/nonnative/allocated_nonnative_field_var.rs
  gadgets/src/traits/algorithms/commitment.rs
  gadgets/src/traits/eq.rs
  marlin/src/constraints/snark.rs
  parameters/src/testnet1/inner_snark_pk.checksum
  parameters/src/testnet1/inner_snark_vk.checksum
  parameters/src/testnet1/inner_snark_vk.params
  parameters/src/testnet1/mod.rs
  parameters/src/testnet2/inner_snark_pk.checksum
  parameters/src/testnet2/inner_snark_vk.checksum
  parameters/src/testnet2/inner_snark_vk.params
  parameters/src/testnet2/mod.rs
  parameters/src/testnet2/outer_snark_pk.checksum
  parameters/src/testnet2/outer_snark_vk.checksum
  parameters/src/testnet2/outer_snark_vk.params
Labels: breaking-testnet1

#312 Update Schnorr signature public key to compressed representation
  dpc/src/account/account_format.rs
  dpc/src/account/address.rs
  dpc/src/account/private_key.rs
  dpc/src/account/tests.rs
  dpc/src/circuits/inner_circuit_gadget.rs
  dpc/src/testnet1/parameters.rs
  dpc/src/testnet2/parameters.rs
  parameters/src/testnet1/inner_snark_pk.checksum
  parameters/src/testnet1/inner_snark_vk.checksum
  parameters/src/testnet1/inner_snark_vk.params
  parameters/src/testnet2/inner_snark_pk.checksum
  parameters/src/testnet2/inner_snark_vk.checksum
  parameters/src/testnet2/inner_snark_vk.params
Labels: breaking-testnet1

#316 Remove Group Encryption and add a more compact encryption scheme
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  algorithms/src/crypto_hash/poseidon.rs
  algorithms/src/encoding/elligator2.rs
  algorithms/src/encoding/mod.rs
  algorithms/src/encoding/tests.rs
  algorithms/src/encryption/ecies_poseidon.rs
  algorithms/src/encryption/group.rs
  algorithms/src/encryption/mod.rs
  algorithms/src/encryption/tests.rs
  algorithms/src/lib.rs
  algorithms/src/traits/encryption.rs
  dpc/src/circuits/inner_circuit_gadget.rs
  dpc/src/errors/dpc.rs
  dpc/src/record/encoded.rs
  dpc/src/record/encrypted.rs
  dpc/src/record/mod.rs
  dpc/src/record/tests.rs
  dpc/src/traits/encoded.rs
  dpc/src/traits/mod.rs
  dpc/src/traits/parameters.rs
  gadgets/src/algorithms/crypto_hash/poseidon.rs
  gadgets/src/algorithms/encoding/elligator2.rs
  gadgets/src/algorithms/encoding/mod.rs
  gadgets/src/algorithms/encryption/ecies_poseidon.rs
  gadgets/src/algorithms/encryption/group.rs
  gadgets/src/algorithms/encryption/mod.rs
  gadgets/src/algorithms/encryption/tests.rs
  gadgets/src/algorithms/mod.rs
  gadgets/src/traits/algorithms/encryption.rs
  parameters/src/testnet1/inner_snark_pk.checksum
  parameters/src/testnet1/inner_snark_vk.checksum
  parameters/src/testnet1/inner_snark_vk.params
  parameters/src/testnet1/mod.rs
  parameters/src/testnet2/inner_snark_pk.checksum
  parameters/src/testnet2/inner_snark_vk.checksum
  parameters/src/testnet2/inner_snark_vk.params
  parameters/src/testnet2/mod.rs
Labels: breaking-testnet1

#298 Fixes incorrect Merkle tree instantiation, refactors PoSW and components to appropriate modules
  algorithms/src/merkle_tree/merkle_path.rs
  algorithms/src/merkle_tree/merkle_tree.rs
  algorithms/src/merkle_tree/mod.rs
  algorithms/src/merkle_tree/tests.rs
  algorithms/src/traits/merkle_tree.rs
  dpc/src/block/block_header.rs
  dpc/src/block/merkle_tree.rs
  dpc/src/block/pedersen_merkle_tree.rs
  gadgets/src/algorithms/merkle_tree/tests.rs
  posw/benches/posw.rs
  posw/src/circuit.rs
  posw/src/error.rs
  posw/src/lib.rs
  posw/src/posw.rs
Labels: breaking-testnet1

#320 Adds genesis block program, in-memory ledger to `snarkvm-ledger`, and unifies `DPC`
  .integration/src/lib.rs
  .integration/src/testnet1.rs
  .integration/src/testnet2.rs
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  Cargo.lock
  dpc/benches/noop_program.rs
  dpc/src/account/tests.rs
  dpc/src/dpc.rs
  dpc/src/lib.rs
  dpc/src/parameters/mod.rs
  dpc/src/parameters/testnet1.rs
  dpc/src/parameters/testnet2.rs
  dpc/src/program/noop_program.rs
  dpc/src/record/tests.rs
  dpc/src/testnet1/dpc.rs
  dpc/src/testnet2/mod.rs
  dpc/src/traits/parameters.rs
  ledger/Cargo.toml
  ledger/src/ledger/ledger.rs
  ledger/src/ledger/memdb.rs
  ledger/src/ledger/mod.rs
  ledger/src/lib.rs
  parameters/examples/genesis.rs
  parameters/examples/inner_snark.rs
  parameters/examples/noop_program_snark.rs
  parameters/examples/outer_snark.rs
  parameters/examples/testnet2_inner_snark.rs
  parameters/examples/testnet2_noop_program_snark.rs
  parameters/examples/testnet2_outer_snark.rs
  parameters/examples/testnet2_universal_srs.rs
  parameters/scripts/README.md
  parameters/scripts/testnet1/genesis.sh
  parameters/scripts/testnet1/run.sh
  parameters/scripts/testnet2/genesis.sh
  parameters/scripts/testnet2/run.sh
  parameters/src/testnet1/genesis/block.rs
  parameters/src/testnet1/genesis/block_header.genesis
  parameters/src/testnet1/genesis/transaction_1.genesis
  parameters/src/testnet1/genesis/transaction_1.rs
  parameters/src/testnet2/genesis/block.rs
  parameters/src/testnet2/genesis/block_header.genesis
  parameters/src/testnet2/genesis/transaction_1.genesis
  parameters/src/testnet2/genesis/transaction_1.rs
Labels: breaking-testnet1

#322 Deduplicate testnet-dpecific dpc macros
  dpc/src/parameters/common.rs
  dpc/src/parameters/mod.rs
  dpc/src/parameters/testnet1.rs
  dpc/src/parameters/testnet2.rs
Labels: breaking-testnet1

#325 Revert the compact ECIES Poseidon back to the field-based version
  .integration/tests/dpc_testnet1.rs
  .integration/tests/dpc_testnet2.rs
  algorithms/src/encryption/ecies_poseidon.rs
  gadgets/src/algorithms/encryption/ecies_poseidon.rs
  parameters/src/testnet1/genesis/block.rs
  parameters/src/testnet1/genesis/block_header.genesis
  parameters/src/testnet1/genesis/transaction_1.genesis
  parameters/src/testnet1/genesis/transaction_1.rs
  parameters/src/testnet1/inner_snark_pk.checksum
  parameters/src/testnet1/inner_snark_vk.checksum
  parameters/src/testnet1/inner_snark_vk.params
  parameters/src/testnet1/mod.rs
  parameters/src/testnet2/genesis/block.rs
  parameters/src/testnet2/genesis/block_header.genesis
  parameters/src/testnet2/genesis/transaction_1.genesis
  parameters/src/testnet2/genesis/transaction_1.rs
  parameters/src/testnet2/inner_snark_pk.checksum
  parameters/src/testnet2/inner_snark_vk.checksum
  parameters/src/testnet2/inner_snark_vk.params
  parameters/src/testnet2/mod.rs
Labels: breaking-testnet1, bug

#328 Fix the issue that breaks the testnet1
  .integration/tests/dpc_testnet2.rs
  curves/src/bls12_377/fq.rs
  fields/src/fp_256.rs
  fields/src/fp_384.rs
  fields/src/fp_768.rs
  fields/src/traits/mod.rs
  fields/src/traits/poseidon_mds_field.rs
  marlin/src/ahp/verifier/verifier.rs
  marlin/src/constraints/ahp.rs
  marlin/src/constraints/snark.rs
  marlin/src/constraints/verifier.rs
  marlin/src/constraints/verifier_key/circuit_verifier_key.rs
  marlin/src/constraints/verifier_key/prepared_circuit_verifier_key.rs
  marlin/src/fiat_shamir/fiat_shamir_algebraic_sponge_gadget.rs
  marlin/src/fiat_shamir/fiat_shamir_poseidon_sponge.rs
  marlin/src/fiat_shamir/fiat_shamir_poseidon_sponge_gadget.rs
  marlin/src/marlin/marlin.rs
  polycommit/src/lib.rs
  polycommit/src/marlin_pc/gadgets/marlin_kzg10.rs
  polycommit/src/marlin_pc/gadgets/proof/batch_lc_proof.rs
  polycommit/src/marlin_pc/mod.rs
  polycommit/src/sonic_pc/mod.rs
Labels: bug
